@{
    ViewData["Title"] = "Dicas de Segurança";
}


<body style="background-color: whitesmoke">
    <nav class="navbar navbar-expand pos-ind">
        <div class="navbar-nav flex-grow-1">
            <p>
                Home / Dicas / Dicas de segurança
            </p>
        </div>
    </nav>
    <div class="jumbotron img-dica" style="background-image:url('/imagem/fundo/igreja.jpg')">
        <div class="text-dica">
            <p class="font-italic">
                Dicas de Segurança  
                <a style="color: orangered">+</a>
                Gás Residencial.
            </p>
            <p>
                Quem cuida jamais esquece da segurança.
            </p>
            <p>
                Veja as dicas para aproveitar melhor o seu produto.
            </p>
        </div>
    </div>
    <div class="card-group container card-dica" style="background-color: whitesmoke">

        <div class="col-lg-5 mx-4 my-md-5">

            <!--<div>
                <h4 class="mb-5" style="color:darkorange">Quem cuida jamais esquece da segurança. Veja as dicas para aproveitar melhor o seu produto.</h4>
            </div>-->

            <div class=" mb-5 embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="~/video/video.mp4" allowfullscreen></iframe>
            </div>

        </div>

        <div class="col-lg-5 mx-4 my-md-5">
            <div>
                <h4 class="mb-5 text-center offset-1" style="color:darkorange">
                    Cuidados necessários no dia a dia.
                </h4>
            </div>

            <div class="mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2 rounded-sm" style="background-color:dodgerblue">
                        <h1 class="text-center mx-2 m-sm-4" style="color:white">1</h1>
                    </div>
                    <div class="col-md-10" style="background-color:whitesmoke">
                        <div class="text-center">
                            <p class="mx-3">
                                A mangueira do seu botijão deve ter até 80 cm e no máximo 1,20m. Deve ser de PVC transparente e conter a marca NBR8613 ao longo da mangueira e com a gravação do ano de validade.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2 rounded-sm" style="background-color:dodgerblue">
                        <h1 class="text-center mx-2 m-sm-4" style="color:white">2</h1>
                    </div>
                    <div class="col-md-10" style="background-color:whitesmoke">
                        <div class="text-center">
                            <p class="mx-2">
                                Nunca passe a mangueira por trás do fogão, o calor do forno pode danificar a mangueira e causar vazamento de gás.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2 rounded-sm" style="background-color:dodgerblue">
                        <h1 class="text-center mx-2 m-sm-4" style="color:white">3</h1>
                    </div>
                    <div class="col-md-10" style="background-color:whitesmoke">
                        <div class="text-center">
                            <p class="mx-3">
                                Fique atento ao prazo de validade da mangueira do seu botijão. Ela precisa ser trocada a cada 5 anos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2 rounded-sm" style="background-color:dodgerblue">
                        <h1 class="text-center mx-2 m-sm-4" style="color:white">4</h1>
                    </div>
                    <div class="col-md-10" style="background-color:whitesmoke">
                        <div class="text-center">
                            <p class="mx-2">
                                Não deixe o botijão perto de produtos inflamáveis, fontes de calor ou de ferramentas /equipamentos que produzam faíscas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="col-lg-5 mx-4 my-md-5">
            <div>
                <h4 class="mb-5 text-center" style="color:darkorange">
                    Dicas LigD'já.
                </h4>
            </div>

            <div class="mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2 rounded-sm" style="background-color:dodgerblue">
                        <h1 class="text-center mx-2 m-sm-4" style="color:white">5</h1>
                    </div>
                    <div class="col-md-10" style="background-color:whitesmoke">
                        <div class="text-center">
                            <p class="mx-3 m-sm-3">
                                O botijão deve ficar afastado pelo menos 1,5m de ralos, caixas de esgoto e de qualquer buraco.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2 rounded-sm" style="background-color:dodgerblue">
                        <h1 class="text-center mx-2 m-sm-4" style="color:white">6</h1>
                    </div>
                    <div class="col-md-10" style="background-color:whitesmoke">
                        <div class="text-center">
                            <p class="mx-2 m-sm-2">
                                Nunca deixe o botijão deitado na posição horizontal. seja para uso ou para armazenamento.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2 rounded-sm" style="background-color:dodgerblue">
                        <h1 class="text-center mx-2 m-sm-4" style="color:white">7</h1>
                    </div>
                    <div class="col-md-10" style="background-color:whitesmoke">
                        <div class="text-center">
                            <p class="mx-3 m-sm-2">
                                Use sempre água e sabão para fazer o teste de vazamento. Para isso, passe uma esponja com água e sabão sobre as conexões. Se houver vazamento, aparecerão bolhas de ar na espuma.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2 rounded-sm" style="background-color:dodgerblue">
                        <h1 class="text-center mx-2 m-sm-4" style="color:white">8</h1>
                    </div>
                    <div class="col-md-10" style="background-color:whitesmoke">
                        <div class="text-center">
                            <p class="mx-2 m-sm-2">
                                Nunca instale ou guarde seu botijão em locais fechados (como armários). É recomendável que o botijão seja instalado do lado de fora da cozinha, em local arejado, protegido de intempéries e longe de qualquer fonte de ignição.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-5 mx-4 my-md-5">

            <div>
                <h4 class="mb-5" style="color:darkorange">
                    LigD'já sempre zelando pela sua segurança.
                </h4>
            </div>
            <div class=" mb-5">
                <a>
                    <img class="embed-responsive-item" src="~/imagem/folder/folder4.jpeg" width="500" height="500" alt="" />

                </a>
            </div>
        </div>

    </div>
</body>