
@{
    ViewData["Title"] = "Receitas";
}
    <body>
        <nav class="navbar navbar-expand pos-ind">
            <div class="navbar-nav flex-grow-1">
                <p>
                    Home / Dicas / Receitas / Filmes / Almoço em família / Piquenique
                </p>
            </div>
        </nav>

        <!--receitas para filmes-->
        <div class="text-fil">
            <p>RECEITAS PARA ASSISTIR FILMES EM CASA E COM PIPOCA DE CINEMA.</p>
        </div>
        <div class="fil"></div>

        <div class="img-rec-leite card-group">
            <img class="img-rec-leite1 rounded" src="~/imagem/receitas/pip-leite.jpg" />
            <div class="text-rec-leite">
                <h3 class="card-title text-center mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                    1º Pipoca de Leite Ninho
                </h3>
                <p class="card-text text-center font-italic" style="color: #006064">Tempo de preparo: 25min.</p>
                <p class="card-text text-center font-italic" style="color: #006064">Rendimento: 5 porções</p>
                <p class="card-text text-center font-italic mb-5" style="color: #006064">Dificuldade: fácil<p>
                <p class="card-text text-center" style="color: #006064">
                    Ingredientes da Pipoca de Leite Ninho
                </p>
                <ul class="offset-3" style="color: #006064">
                    <li>
                        2/3 de xícara (chá) de óleo
                    </li>
                    <li>
                        1 xícara (chá) de açúcar
                    </li>
                    <li>
                        1 xícara (chá) de água
                    </li>
                    <li>
                        1 xícara (chá) de milho para pipoca
                    </li>
                    <li>
                        1 e 1/2 xícara (chá) de leite Ninho
                    </li>
                </ul>
            </div>
        </div>
        <div class="card card-pip-leite">
            <div class="card-text">
                <div class="text-pip-leite">
                    <h3 class="card-title text-center" style="color: #FF6F00; font-family:'Comic Sans MS'">
                        Modo de Preparo
                    </h3>
                    <p>
                        Coloque o óleo, o açúcar, a água e o milho em uma panela e leve ao fogo médio,
                        mexendo até o açúcar começar a formar uma calda e os milhos quase estourarem.

                        Tampe a panela e cozinhe até os milhos estourarem por completo, mexendo a panela
                        algumas vezes para não queimar. Transfira para uma travessa, espalhe bem e misture com
                        o leite Ninho. Sirva em seguida.
                    </p>
                </div>
            </div>
        </div>


        <div class="img-rec-bacon card-group">
            <div class="text-rec-bacon">
                <h3 class="card-title text-center mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                    2º Pipoca caramelada com bacon
                </h3>
                <p class="card-text text-center font-italic" style="color: #006064">Tempo de preparo: 30min.</p>
                <p class="card-text text-center font-italic" style="color: #006064">Rendimento: 5 porções</p>
                <p class="card-text text-center font-italic mb-4" style="color: #006064">Dificuldade: fácil<p>
                <p class="card-text text-center" style="color: #006064">
                    Ingredientes da Pipoca caramelada com bacon
                </p>
                <ul class="offset-3" style="color: #006064">
                    <li>
                        2 colheres (sopa) de óleo
                    </li>
                    <li>
                        5 colheres (sopa) de manteiga
                    </li>
                    <li>
                        1 e 1/3 xícara (chá) de açúcar mascavo
                    </li>
                    <li>
                        1/2 xícara (chá) de glucose de milho
                    </li>
                    <li>
                        1/2 colher (chá) de bicarbonato de sódio
                    </li>
                    <li>
                        1/2 colher (chá) de sal
                    </li>
                    <li>
                        300g de bacon frito em cubos
                    </li>
                </ul>
            </div>
            <img class="img-rec-bacon1 rounded" src="~/imagem/receitas/pip-bacon.jpg" />
        </div>
        <div class="card card-pip-bacon">
            <div class="card-text">
                <div class="text-pip-bacon">
                    <h3 class="card-title text-center" style="color: #FF6F00; font-family:'Comic Sans MS'">
                        Modo de Preparo
                    </h3>
                    <p>
                        Em uma panela grande, em fogo médio, aqueça o óleo e 2 colheres (sopa) da manteiga.
                        Coloque o milho para pipoca, tampe e espere estourar os grãos. Espalhe em um refratário
                        untado e deixe esfriar. Em outra panela, misture o restante da manteiga com o açúcar mascavo,
                        a glucose, o bicarbonato e o sal, até dissolver e formar uma calda. Junte o bacon, espalhe sobre
                        a pipoca no refratário e misture delicadamente. Leve ao forno médio, preaquecido, por 10 minutos.
                        Retire e deixe amornar para servir.
                    </p>
                </div>
            </div>
        </div>

        <div class="img-rec-chocolate card-group pad-chocolate">
            <img class="img-rec-chocolate1 rounded" src="~/imagem/receitas/pip-chocolate.jpg" />
            <div class="text-rec-chocolate">
                <h3 class="card-title text-center mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                    3º Pipoca no palito com chocolate
                </h3>
                <p class="card-text text-center font-italic" style="color: #006064">Tempo de preparo: 30min.</p>
                <p class="card-text text-center font-italic" style="color: #006064">Rendimento: 20 unidades</p>
                <p class="card-text text-center font-italic mb-5" style="color: #006064">Dificuldade: fácil<p>
                <p class="card-text text-center" style="color: #006064">
                    Ingredientes da Pipoca com chocolate
                </p>
                <ul class="offset-3" style="color: #006064">
                    <li>
                        6 colheres (sopa) de óleo
                    </li>
                    <li>
                        1 xícara (chá) de milho para pipoca
                    </li>
                    <li>
                        1 xícara (chá) de açúcar
                    </li>
                    <li>
                        1/2 xícara (chá) de manteiga
                    </li>
                    <li>
                        6 colheres (sopa) de chocolate em pó
                    </li>
                    <li>
                        1 xícara (chá) de glucose de milho tipo Karo
                    </li>
                    <li>
                        Margarina para juntar
                    </li>
                </ul>
            </div>
        </div>
        <div class="card card-pip-chocolate">
            <div class="card-text">
                <div class="text-pip-chocolate">
                    <h3 class="card-title text-center" style="color: #FF6F00; font-family:'Comic Sans MS'">
                        Modo de Preparo
                    </h3>
                    <p>
                        Leve uma pipoqueira tampada ao fogo baixo com o óleo e o milho, cozinhando até estourar por
                        completo. Desligue e reserve. Em outra panela, coloque o açúcar, a manteiga, o chocolate, a
                        glucose e cozinhe até dissolver, em fogo médio. Coloque a pipoca pronta em um refratário grande,
                        despeje a calda aos poucos e misture. Deixe amornar e, com as mãos untadas, faça bolinhas.
                        Espete cada bolinha em um palito de madeira para churrasco, espete em um isopor e deixe secar.
                        Sirva.
                    </p>
                </div>
            </div>
        </div>

        <div class="img-rec-doce card-group">
            <div class="text-rec-doce">
                <h3 class="card-title text-center mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                    4º Pipoca doce
                </h3>
                <p class="card-text text-center font-italic" style="color: #006064">Tempo de preparo: 30min.</p>
                <p class="card-text text-center font-italic" style="color: #006064">Rendimento: 8 porções</p>
                <p class="card-text text-center font-italic mb-4" style="color: #006064">Dificuldade: fácil<p>
                <p class="card-text text-center" style="color: #006064">
                    Ingredientes da Pipoca doce
                </p>
                <ul class="offset-3" style="color: #006064">
                    <li>
                        1 xícara (chá) de milho para pipoca
                    </li>
                    <li>
                        1 xícara (chá) de açúcar
                    </li>
                    <li>
                        1/2 xícara (chá) de óleo
                    </li>
                    <li>
                        1/2 colher (chá) de corante alimentício vermelho
                    </li>
                </ul>
            </div>
            <img class="img-rec-doce1 rounded" src="~/imagem/receitas/pip-bacon.jpg" />
        </div>
        <div class="card card-pip-doce">
            <div class="card-text">
                <div class="text-pip-doce">
                    <h3 class="card-title text-center" style="color: #FF6F00; font-family:'Comic Sans MS'">
                        Modo de Preparo
                    </h3>
                    <p>
                        Em uma panela de fundo grosso coloque o milho, o açúcar e o óleo mexendo sempre até formar
                        uma calda grossa (mais ou menos 15 minutos). Adicione o corante e espere toda pipoca estourar.
                        Espalhe sobre uma assadeira para esfriar. Sirva.
                    </p>
                </div>
            </div>
        </div>

        <!--corpo receitas almoço em família-->
        <div class="text-fam">
            <p>RECEITAS PARA ALMOÇO EM FAMÍLIA.</p>
        </div>
        <div class="fam"></div>

        <div class="img-rec-feijoada card-group">
            <img class="img-rec-feijoada1 rounded" src="~/imagem/receitas/feijoada.jpg" />
            <div class="text-rec-feijoada">
                <h3 class="card-title text-center mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                    Feijoada
                </h3>
                <p class="card-text text-center" style="color: #006064">
                    Ingredientes da Feijoada
                </p>
                <ul class="offset-3" style="color: #006064">
                    <li>
                        Feijão preto: 500 g
                    </li>
                    <li>
                        Bacon: 200 g
                    </li>
                    <li>
                        Paio: 200 g
                    </li>
                    <li>
                        Linguiça calabresa: 200 g
                    </li>
                    <li>
                        Costelinha de porco: 200 g
                    </li>
                    <li>
                        Carne seca dessalgada: 200 g
                    </li>
                    <li>
                        Alho picado: 6 dente(s)
                    </li>
                    <li>
                        Folhas de louro: 1 unidade
                    </li>
                    <li>
                        Vinagrete
                    </li>
                    <li>
                        Cebola picada: 1 unidade
                    </li>
                    <li>
                        Salsinha picada: 1 colher de sopa
                    </li>
                    <li>
                        Tomate picado: 2 unidades
                    </li>
                    <li>
                        Azeite de oliva: 1/4 xíc. (chá)
                    </li>
                    <li>
                        Vinagre de maçã: 1 xíc. (chá)
                    </li>
                    <li>
                        Sal: a gosto
                    </li>
                    <li>
                        Couve refogada
                    </li>
                    <li>
                        Couve manteiga fatiada: 1 maço(s)
                    </li>
                    <li>
                        Azeite: 1 colher de sopa
                    </li>
                    <li>
                        Sal: a gosto
                    </li>
                </ul>
            </div>
        </div>
        <div class="card card-feijoada">
            <div class="card-text">
                <div class="text-feijoada2">
                    <h3 class="card-title title-feijoada mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                        Modo de Preparo
                    </h3>
                    <p class="rounded" style="background-color: lightcyan; color: black; width: 600px; padding: 10px;">
                        Que tal dicas para um <a style="color: orangered">arroz</a> soltinho e gostoso:⁣
                        ⁣
                        - O <a style="color: orangered">arroz</a> deve ser cozido em fogo médio, para manter a textura ideal e não queimar o fundo da panela.⁣
                        ⁣
                        - Quando o seu <a style="color: orangered">arroz</a> terminar de cozinhar e a água tiver secado, desligue o fogo e coloque a tampa e deixe pelo menos 10 minutos descansando com a tampa para que o vapor continue o cozimento do arroz.⁣
                        ⁣
                        E você, qual a sua dica para um arroz perfeito?⁣
                        ⁣
                        <a style="color: orangered">#ligdjapraultragaz #ligdja #comida #arrozsoltinho #arroz #cuiaba</a>
                    </p>

                    <p class="text-feijoada">
                        <a class="" style="color: orangered">FEIJOADA</a>

                        - Coloque o feijão em um recipiente, cubra com água e deixe de molho por no mínimo 1 hora.

                        - Em uma panela grande e funda, refogar a costelinha de porco, o bacon picado, o paio fatiado, a linguiça calabresa fatiada e a carne seca picada. Reserve.

                        - Refogue a cebola picada, o alho e o junte a folha de louro.

                        - Volte as carnes para a panela, junte o feijão escorrido e cubra com água.

                        - Cozinhe por 3 horas ou até o grão ficar macio e o caldo engrossar. Se necessário, acrescente mais água.

                        - Prove o sal, e se necessário, acrescente mais um pouco.

                        COUVE
                        - Leve ao fogo uma frigideira quente, quando estiver bem quente acrescente o azeite e refogue a couve até ficar macia. Tempere com sal a gosto. Reserve.

                        VINAGRETE
                        - Em uma tigela média, acrescente todos os ingredientes e mexa bem. Reserve.

                        Sirva a feijoada com os acompanhamentos, farofa, <a style="color: orangered">arroz</a> branco e laranja.
                    </p>
                </div>
            </div>
        </div>

        <div class="img-rec-estrogonofe card-group pad-ind">
            <div class="text-rec-estrogonofe">
                <h3 class="card-title text-center mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                    Estrogonofe de frango
                </h3>
                <ul class="offset-3" style="color: #006064">
                    <li>
                        Cebola picada: 1 unidade
                    </li>
                    <li>
                        Alho picado: 2 dente(s)
                    </li>
                    <li>
                        Molho inglês: 1 colher de sopa
                    </li>
                    <li>
                        Extrato de tomate: 1 colher de sopa
                    </li>
                    <li>
                        Mostarda: 1 colher de sopa
                    </li>
                    <li>
                        Creme de leite: 1 caixinha
                    </li>
                    <li>
                        Leite: 1/4 xíc. (chá)
                    </li>
                    <li>
                        Sal: a gosto
                    </li>
                </ul>
            </div>
            <img class="img-rec-estrogonofe1 rounded" src="~/imagem/receitas/estrogonofe.jpg" />
        </div>
        <div class="card card-pip-estrogonofe">
            <div class="card-text">
                <div class="text-pip-estrogonofe">
                    <h3 class="card-title text-center" style="color: #FF6F00; font-family:'Comic Sans MS'">
                        Modo de Preparo
                    </h3>
                    <p>
                        - Corte o filé de frango em tiras iguais, tempere com sal a gosto e molho inglês (opcional). Reserve

                        - Pique a cebola e o alho em cubos pequenos.
                        - Em uma panela média coloque o óleo, espere esquentar e acrescente a cebola e o alho.
                        - Deixe dourar bem.
                        - Acrescente o frango em tiras e doure-o de todos os lados.
                        - Adicione um pouco de água (1/2 xíc de café), o extrato de tomate (ou ketchup) e a mostarda.
                        - Deixe cozinhar até ficar macio (cerca de 10 minutos). Se necessário, acrescente água aos poucos para não queimar.
                        - Por último acrescente o creme de leite e o leite. Misture.
                        - Deixe ferver e desligue.
                        - Sirva em seguida servido com arroz branco e batata palha.


                        <a style="color: orangered">+ ARROZ BRANCO DO LIG D'JÁ</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="img-rec-carne card-group">
            <img class="img-rec-carne1 rounded" src="~/imagem/receitas/carne.png" />
            <div class="text-rec-carne">
                <h3 class="card-title text-center mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                    Carne com brócolis
                </h3>
                <p class="card-text text-center" style="color: #006064">
                    Ingredientes
                </p>
                <ul class="offset-3" style="color: #006064">
                    <li>
                        Bife de carne de 250g (patinho, coxão mole, etc): 1 unidade
                    </li>
                    <li>
                        Óleo de girassol: 1 colher de chá
                    </li>
                    <li>
                        Shoyu: 1 colher de chá
                    </li>
                    <li>
                        Amido de milho (maizena) + 1/4 xícara de chá: 1 colher de sopa
                    </li>
                    <li>
                        Óleo vegetal, para fritar a carne: 1/3 xíc. (chá)
                    </li>
                    <li>
                        Gengibre fresco ralado: 1/2 colher de chá
                    </li>
                    <li>
                        Alho picado: 2 dente(s)
                    </li>
                    <li>
                        Shoyo com teor reduzido de sódio: 1/4 xíc. (chá)
                    </li>
                    <li>
                        Água: 1/4 xíc. (chá)
                    </li>
                    <li>
                        Açúcar mascavo: 2 colheres de sopa
                    </li>
                    <li>
                        Amido de milho, misturado com 1 colher de sopa de água:
                        1 colher de sopa
                    </li>
                    <li>
                        Cebolinha verde picada: 2 unidades
                    </li>
                </ul>
            </div>
        </div>
        <div class="card card-carne">
            <div class="card-text">
                <div class="text-carne">
                    <h3 class="card-title title-carne mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                        Modo de Preparo
                    </h3>
                    <p>
                        - Lave e pique o brócolis em pequenos pedaços. Cozinhe no vapor até ficar al dente.
                        - Marinar a carne por 1 hora em 1 colher de chá de óleo, 1 colher de chá de molho de soja e 1
                        colher de sopa de amido de milho (você pode pular essa parte e só temperar a carne, o sabor fica
                        melhor se marinar, mas tudo bem se não tiver esse tempo) . Passar a carne no restante do amido
                        de milho (1/4 xícara), retire o excesso de amido de milho e reserve.

                        - Aqueça 1/3 xícara de óleo em uma wok ou frigideira funda em fogo alto. Quando o óleo estiver
                        bem quente, espalhe as partes do bife de carne uniformemente, e frite por 1 minuto aproximadamente.
                        Frite em lotes menores para obter melhores resultados! Vire e deixe o outro lado fritar por mais
                        30 segundos.
                    </p>
                    <p>
                        - Transfira a carne para um prato forrado com papel toalha.
                        A carne deve ter uma crostinha crocante por fora.
                        - Escorra o óleo da wok/frigideira, deixando 1 colher de sopa para trás. Adicione o gengibre
                        e o alho, frite-os em fogo médio/alto.
                        - Mexa por 10 segundos e adicione o molho de soja e a água. Quando o molho ferve, junte o
                        açúcar mascavo e misture até dissolver.
                        - Deixe o molho ferver por cerca de 2 minutos e acrescente lentamente a mistura de amido de
                        milho com água. Adicione a carne, as cebolinhas e o brócolis. Cozinhe tudo por mais 30 segundos.
                        Desligue o fogo e sirva em seguida com um prato de arroz jasmim.
                    </p>
                </div>
            </div>
        </div>


        <div class="text-piq">
            <p>RECEITAS PARA PIQUENIQUES.</p>
        </div>
        <div class="piq"></div>


        <div class="card-pique-criancas card-group">
            <h3 class="card-title title-pique-criancas mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                Piquenique para crianças:
            </h3>
            <p class="text-pique-criancas">
                Sucos naturais e refrescantes como laranja, limão e abacaxi.
                Se houver suqueiras, adicione pedras de gelo para ajudar a conservá-los. Não podemos esquecer
                da água mineral. Frutas picadas como maça e pêra, bananas e uvas. Dê preferência para os assados
                como quibes, pães de queijo e hot dog assado.
            </p>
        </div>

        <div class="card-pique-vegano card-group">
            <h3 class="card-title title-pique-vegano mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                Piquenique para vegano:
            </h3>
            <p class="text-pique-vegano">
                Os sucos naturas e a água mineral permanecem como escolha perfeita para o
                piquenique. Como sugestão de alimentos, batata chips, palitinhos de legumes (cenoura, salsão e
                aspargos), quiche de legumes, frutas variadas e mix de castanhas são uma ótima pedida.
            </p>
        </div>


        <div class="card-pique-lactose card-group">
            <h3 class="card-title title-pique-lactose mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                Piquenique sem lactose:
            </h3>
            <p class="text-pique-lactose">
                Sucos, água, água de coco, frutas diversas, salgados livres de lactose,
                sanduíches com geleia de frutas e bolo de frutas.
            </p>
        </div>

        <div class="card-pique-adulto card-group">
            <h3 class="card-title title-pique-adulto mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                Piquenique para adultos:
            </h3>
            <p class="text-pique-adulto">
                Com a possibilidade de incluir bebidas alcoólicas e coquetéis, a água
                mineral ainda figura como elemento principal dentre as bebidas. Uma tábua de frios pode ser uma
                boa opção. Salgados assados, muffins e cupcakes ajudam a saciar a fome.
            </p>
        </div>

        <div class="card-pique-romantico card-group">
            <h3 class="card-title title-pique-romantico mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                Piquenique romântico:
            </h3>
            <p class="text-pique-romantico">
                Sucos, água e champanhe ou vinho ajudam a criar o clima. Mini sanduíches,
                frutas como morango e uva, bolos, cupcakes e muffins compõe o cenário. Vale adicionar flores para
                complementar a decoração.
            </p>
        </div>

        <div class="card-pique-aniversario card-group">
            <h3 class="card-title title-pique-aniversario mb-5" style="color: #FF6F00; font-family:'Comic Sans MS'">
                Piquenique de aniversário:
            </h3>
            <p class="text-pique-aniversario">
                Ótimo para reunir a família, os sucos e drinks sem álcool acompanham a
                água para refrescar. Os docinhos não podem ficar de lado. Salgados assados, cupcakes e o bolo, de
                preferência sem recheio de creme, garantem a refeição.
            </p>
        </div>


    </body>