

<body style="background-color:whitesmoke">
    <nav class="navbar navbar-expand pos-ind">
        <div class="navbar-nav flex-grow-1">
            <p>
                Home / Serviços / Autorizado x Clandestino
            </p>
        </div>
    </nav>
    <div class="jumbotron img-aut" style="background-image:url('/imagem/cozinha221.jpg')">
        <div class="text-aut">
            <h2 class="mb-5 font-italic" style="color:darkorange">
                A Ultragaz possui uma ampla rede de revendedores autorizados pela ANP, que atuam dentro dos mais altos padrões de segurança e qualidade.
            </h2>
        </div>
    </div>

    <div class=" container text-card">
        <div class="card-group card-header mb-5">
            <div class="col-lg-5 my-md-5">
                <div class=" embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="~/video/ultragaz.mp4" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col-lg-6  my-md-4 font-italic">

                <P class="card-text mb-3">
                    O caminhão e o vendedor podem ser parecidos, mas é preciso ficar alerta contra os revendedores clandestinos de GLP.

                    Existem empresas que imitam as cores e padrões da Ultragaz para vender botijões de outras marcas ou por preços menores, mas sem dar nenhuma das garantias de qualidade e segurança que são exigidas por norma, as quais nós e nossa rede de revendas credenciada cumpre integralmente.

                </P>

                <P class="card-text">
                    Além dos produtos desses revendedores clandestinos poderem apresentar problemas, como peso menor que o devido, violação ou troca do lacre ou tentar vender outras marcas como se fossem da Ultragaz, é importante esclarecer que, para serem comercializados, sem apresentar riscos, os recipientes necessitam de manutenção constante. A Ultragaz faz essa manutenção de modo adequado cada vez que o vasilhame retorna para ser enchido em uma de suas bases.

                </P>

            </div>


            <div class="col-md-11 font-italic">

                <P class="card-text mb-3">
                    As empresas clandestinas, além de não possuírem pessoal capacitado e muitas vezes sem idoneidade, não respeitam nenhuma das normas estabelecidas pelos órgãos de fiscalização e reguladores da atividade.

                </P>

                <P class="card-text mb-3">
                    Elas não registram e não treinam seus empregados, não possuem as licenças e autorizações para o funcionamento regular, não observam as normas de segurança, não fazem a adequada manutenção dos veículos que transportam o produto e não prestam assistência técnica se você vier a ter algum problema.

                </P>

                <P class="card-text mb-5">
                    Agindo deste modo, você consumidor tem a sensação de estar pagando mais barato, mas isso não é verdade e essa suposta economia, na verdade, pode estar pondo em risco a sua segurança e a de sua família.

                    Pense nisso antes de comprar de um clandestino. Será que vale a pena?
                </P>
            </div>
        </div>
    </div>


    <div class="card-group container mb-5 navbar-toggler">

        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="~/imagem/ponto.png" class="mx-3 m-sm-3" width="45" height="45" alt="">
                    </div>
                    <div class="col-md-10">
                        <div class="text-center">
                            <h6 class="mx-5 mt-xl-3">O botijão deve ter o peso certo</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="~/imagem/ponto.png" class="mx-3 m-sm-3" width="45" height="45" alt="">
                    </div>
                    <div class="col-md-10">
                        <div class="text-center">
                            <h6 class="mx-5 mt-xl-3">Os veículos devem ter gravados em local visível o número de autorização da revenda fornecido pela ANP – Agência Nacional do Petróleo, Gás Natural e Biocumbustíveis</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="~/imagem/ponto.png" class="mx-3 m-sm-3" width="45" height="45" alt="">
                    </div>
                    <div class="col-md-10">
                        <div class=" text-center">
                            <h6 class="mx-5 mt-xl-3">O botijão deve ter o lacre e o rótulo informativo da empresa distribuidora</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="~/imagem/ponto.png" class="mx-3 m-sm-3" width="45" height="45" alt="">
                    </div>
                    <div class="col-md-10">
                        <div class="text-center">
                            <h6 class="mx-5 mt-xl-3">Os revendedores devem sempre estar uniformizados e com o crachá de identificação</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="float-lg-right">
            <img class="rounded-pill" src="~/imagem/fabrica1.jpg" width="557" height="386" alt="" />
        </div>
    </div>
</body>

