@{
    ViewData["Title"] = "Gás Empresarial";
}

<body class="gasE-div" style="background-color: whitesmoke">

    <div class="gasE-div">
        ﻿ <div class="img-gasE1 jumbotron jumbotron-fluid">
            <div class="text-cond">
                <h3 class="card-title offset-2" style="color:goldenrod; font-family:'Comic Sans MS'"> Gás para Condomínios</h3>
                <p>O uso do GLP em condomínios é uma solução energética limpa e sustentável</p>
                <p>que pode trazer diversos benefícios para os síndicos e moradores,</p>
                <p>como por exemplo:</p>
                <p>- Aquecimento de água com menor custo.</p>
                <p>- Alto poder calorífico para cozimento de alimentos, permitindo maior economia</p>
                <p>- Lavagem e secagem de roupas de maneira mais econômica.</p>
                <p>- Climatização de temperatura de ambientes.</p>
                <p>Conheça todas as soluções para condomínios Ultragaz</p>
            </div>
        </div>



        ﻿ <div class="img-gasE2 jumbotron jumbotron-fluid">
            <div class="text-neg">
                <h3 class="card-title offset-2 mb-5" style="color:goldenrod; font-family:'Comic Sans MS'">Gás comercial GLP para o seu negócio</h3>
                <p>Além de garantir o preparo de deliciosas receitas na sua casa, </p>
                <p>o gás liquefeito de petróleo também está presente em diversas aplicações comerciais.</p>
                <p>O uso de gás comercial permite uma versatilidade de aplicações</p>
                <p>nos mais diversos segmentos de negócio.</p>
                <p>A instalação de gás para empresas auxilia na diminuição de custos com fornecimento</p>
                <p>de energia elétrica e é uma solução eficaz para a produtividade.</p>
                <p>O GLP é uma fonte de energia ecologicamente responsável e de utilização segura.</p>
            </div>
        </div>
    </div>

    <!--
    <div>
        <h3 class="mb-5 text-center" style="color: darkorange">Saiba mais sobre a utilização dos botijões de gás Ultragaz.</h3>

        <div class="container-fluid card-group rounded">
            <div class="card mb-5" style="max-width: 1330px;">
                <div class="row no-gutters">
                    <div class="col-md-6" style="padding: 50px;">
                        <img src="~/imagem/p45-45k.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-5" style="color:dodgerblue">Cilindro de gás P45 ou Botijão de larga escala!</h2>
                            <p class="card-body">
                                O cilindro de gás P45 possui <a class="font-weight-bold">45 quilos</a>. Utilizado em larga escala, em diferentes situações e locais, como residências, comércio, bares, restaurantes, é instalado em centrais de GLP – sempre em locais pré-determinados pelo cliente e de acordo com as normas técnicas e devidas documentações estabelecidas.

                                Dimensões: diâmetro 373mm x altura 1292mm.

                                Atualmente quem utiliza mais são restaurantes, lanchonetes, e rede de hotelarias.
                            </p>
                            <p class="card-body">Garanta já o seu cartão fidelidade!</p>
                            <p class="card-body"><a class="font-weight-bold">#ultragaz #cuiaba #negocioslocais #comida #diamanteazul #fidelidade</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</body>
