@{
    ViewData["Title"] = "Gás Empresarial";
}

<body style="background-color: white">

    <nav class="navbar navbar-expand pos-ind">
        <div class="navbar-nav flex-grow-1">
                <p>
                    Home / Serviços / Gás empresarial
                </p>
        </div>
    </nav>

    <div class="img-gasE3 card-group pad-ind">
        <!--offset-sm-5 text-sm-right-->
        <img class="rounded img-gasE3-1" src="~/imagem/cozinha/cozinha5.jpg" />
        <div class="text-gasE3">
            <h3 class="card-title text-center mb-5" style="color:red; font-family:'Comic Sans MS'">Gás comercial GLP para o seu negócio</h3>
            <p class="card-text text-center font-italic" style="color: goldenrod">
                Além de garantir o preparo de deliciosas receitas na sua casa,
            </p>
            <p class="card-text text-center font-italic" style="color: goldenrod">
                o gás liquefeito de petróleo também está presente em diversas aplicações
            </p>
            <p class="card-text text-center font-italic" style="color: goldenrod">
                ocomerciais. O uso de gás comercial permite uma versatilidade
            </p>
            <p class="card-text text-center font-italic mb-5" style="color: goldenrod">
                de aplicações nos mais diversos segmentos de negócio.
            </p>
            <p class="card-text text-center font-italic font-weight-bold" style="color: goldenrod">
                Se precisar de gás, #ligjda!
            </p>
            <p class="card-text text-center font-weight-bolder" style="color: orangered">
                #ultragaz #cuiaba #negocioslocais #comida #diamanteazul
            </p>
        </div>
    </div>

    <div class="gasE-div">
        <div class="card-group">
            <div class="cond">
                <div class="text-cond">
                    <h3 class="card-title offset-3 mb-4" style="color: darkgoldenrod; font-family:'Comic Sans MS'"> Gás para Condomínios</h3>
                    <p>
                        O uso do GLP em condomínios é uma solução energética limpa e sustentável
                        que pode trazer diversos benefícios para os síndicos e moradores,
                        como por exemplo:
                        - Aquecimento de água com menor custo.
                        - Alto poder calorífico para cozimento de alimentos, permitindo maior economia
                        - Lavagem e secagem de roupas de maneira mais econômica.
                        - Climatização de temperatura de ambientes.
                        Conheça todas as soluções para condomínios Ultragaz
                    </p>
                </div>
            </div>
            <img class="img-gasE1" src="~/imagem/gasE/condominio2.jpg" />
        </div>

        <div class="card-group">
            <img class="img-gasE2" src="~/imagem/gasE/empresa.jpg" />
            <div class="neg">
                <div class="text-neg">
                    <h4 class="card-title offset-2 mb-5" style="color: darkgoldenrod; font-family:'Comic Sans MS'">Gás comercial GLP para o seu negócio</h4>
                    <p>Além de garantir o preparo de deliciosas receitas na sua casa, o gás liquefeito de petróleo também está presente em diversas aplicações comerciais.</p>
                    O uso de gás comercial permite uma versatilidade de aplicações
                    nos mais diversos segmentos de negócio.
                    A instalação de gás para empresas auxilia na diminuição de custos com fornecimento
                    de energia elétrica e é uma solução eficaz para a produtividade.
                    O GLP é uma fonte de energia ecologicamente responsável e de utilização segura.
                </div>
            </div>
        </div>
    </div>

</body>
