
@{
    ViewData["Title"] = "Conheça nossos produtos abaixo";
}

    <body style="background-color: whitesmoke">
        <nav class="navbar navbar-expand pos-ind">
            <div class="navbar-nav flex-grow-1">
                <p>
                    Home / Serviços / Gás residencial
                </p>
            </div>
        </nav>
        <div class="back-body">
            <div class="card-group body-logo">
                <img class="rounded img-logo" src="~/imagem/logo.png" width="500" height="500" alt="" />
                <div class="text-logo">
                    <h1 class="text-center mb-2" style="color:dodgerblue">@ViewData["Title"]</h1>
                    <h3 class="mb-5 text-center" style="color:darkorange">Saiba mais sobre a utilização e as dimensões dos botijões de gás Ultragaz.</h3>
                </div>
            </div>

            <section class="rounded flex-r section-2">
                <div>
                    <img src="~/imagem/gasC/p5-5k.png" width="350" height="220" alt="" />
                    <div class="text-gas" style="background-color: white; opacity: 0.8">
                        <h5 class="card-title text-center font-weight-bold" style="color: dodgerblue; font-family: 'Comic Sans MS'">
                            Botijão de gás P5 Portátil ou Residencial Pequeno
                        </h5>
                        <p class="card-body">
                            O botijão de gás de <a class="font-weight-bold">cinco quilos</a>, também chamado de botijão P5, é utilizado com regulador de pressão em fogareiros de uma ou duas bocas e em fogões residenciais. Sua instalação e manuseio são semelhantes aos do botijão de 13 quilos e, por isso, ele é uma opção para consumidores que utilizam menor quantidade de gás. O botijão P5 tem algumas vantagens sobre o botijão P13: como o formato mais comum das cozinhas residenciais, pois ocupa menos espaço, é mais leve e fácil de transportar.

                            Dimensões: diâmetro 272,5 mm x altura 345 mm
                        </p>
                        <p class="card-body">Fique em casa. Vamos levar seu gás com toda segurança.</p>
                        <p class="card-body"><a class="font-weight-bold" style="color:dodgerblue">#ligdjapraultragaz #ultragaz #cuiaba #negocioslocais #comida #diamanteazul</a></p>
                    </div>
                </div>
                <div>
                    <img src="~/imagem/gasC/p13-13k.png" width="350" height="220" alt="" />
                    <div class="text-gas p13" style="background-color: white; opacity: 0.8">
                        <h5 class="card-title text-center mx-1 font-weight-bold" style="color: dodgerblue; font-family: 'Comic Sans MS'">
                            Botijão de gás P13 ou Botijão Residencial Padrão
                        </h5>
                        <p class="card-body ">
                            O botijão de gás de <a class="font-weight-bold">13 quilos</a>, também conhecido como botijão de gás P13, é o gás de cozinha comum amplamente utilizado nos fogões residenciais em todo país. Seu principal uso está no preparo de alimentos e é altamente seguro, contendo dispositivo térmico de segurança chamado de plugue fusível.

                            Dimensões: diâmetro 360 mm x altura 475mm
                        </p>
                        <p class="card-body">Se precisar repor o gás, #ligdja!</p>
                        <p class="card-body"><a class="font-weight-bold" style="color:dodgerblue">#prevencao #covid19 #higiene #coronavirus #cuiaba</a></p>
                    </div>
                </div>
                <div>
                    <img src="~/imagem/gasC/p20-20k.png" width="350" height="220" alt="" />
                    <div class="text-gas p20" style="background-color: white; opacity: 0.8">
                        <h5 class="card-title text-center mx-1 font-weight-bold" style="color: dodgerblue; font-family: 'Comic Sans MS'">
                            P20 ou gás para empilhadeiras
                        </h5>
                        <p class="card-body">
                            O gás para empilhadeiras ou gás P20 é comercializado em cilindros de gás de <a class="font-weight-bold">20 quilos</a>. Estes cilindros são projetados para utilização na posição horizontal, já que todo o consumo se dá na fase líquida e não na gasosa, como acontece nos demais recipientes. O cilindro de gás P20 é o único gás permitido pela ANP como combustível para veículos automotores.
                            Dimensões: diâmetro 312 mm x altura 895 mm.
                        </p>
                        <p class="card-body">Garanta já o seu cartão fidelidade!</p>
                        <p class="card-body"><a class="font-weight-bold" style="color:dodgerblue">#ultragaz #cuiaba #negocioslocais #comida #diamanteazul #fidelidade</a></p>
                    </div>
                </div>
                <div>
                    <img class="rounded gas45" src="~/imagem/gasC/p45-45k.png" width="400" height="350" alt="" />
                    <div class="text-gasp45" style="background-color: white; opacity: 0.8">
                        <h5 class="card-title" style="color:dodgerblue">Cilindro de gás P45 ou Botijão de larga escala</h5>
                        <p>
                            O cilindro de gás P45 possui <a class="font-weight-bold">45 quilos</a>. Utilizado em larga escala, em diferentes situações e locais, como residências, comércio, bares, restaurantes, é instalado em centrais de GLP – sempre em locais pré-determinados pelo cliente e de acordo com as normas técnicas e devidas documentações estabelecidas.

                            Dimensões: diâmetro 373mm x altura 1292mm
                        </p>
                        <p>Garanta já o seu cartão fidelidade!</p>
                        <p><a class="font-weight-bold" style="color:dodgerblue">#ultragaz #cuiaba #negocioslocais #comida #diamanteazul #fidelidade</a></p>
                    </div>
                </div>
            </section>


            <!--
        <div class="card-group rounded">

            <div class="card-columns card-group mb-5">

                <div class="card border rounded">

                    <img class="rounded mx-5 col-8 mb-3" src="~/imagem/p5-5k.png" width="150" height="150" alt="" />

                    <h5 class="card-title text-center mx-1" style="color:dodgerblue">Botijão de gás P5 Portátil ou Residencial Pequeno</h5>
                    <p class="card-body ">
                        O botijão de gás de <a class="font-weight-bold">cinco quilos</a>, também chamado de botijão P5, é utilizado com regulador de pressão em fogareiros de uma ou duas bocas e em fogões residenciais. Sua instalação e manuseio são semelhantes aos do botijão de 13 quilos e, por isso, ele é uma opção para consumidores que utilizam menor quantidade de gás. O botijão P5 tem algumas vantagens sobre o botijão P13: como o formato mais comum das cozinhas residenciais, pois ocupa menos espaço, é mais leve e fácil de transportar.

                        Dimensões: diâmetro 272,5 mm x altura 345 mm
                    </p>
                    <p class="card-body">Fique em casa. Vamos levar seu gás com toda segurança.</p>
                    <p class="card-body"><a class="font-weight-bold">#ligdjapraultragaz #ultragaz #cuiaba #negocioslocais #comida #diamanteazul</a></p>

                </div>

                <div class="card border rounded" style="width: 18rem;">

                    <img class="rounded mx-5 col-8 mb-3" src="~/imagem/p13-13k.png" width="150" height="150" alt="" />

                    <h5 class="card-title text-center mx-1" style="color:dodgerblue">Botijão de gás P13 ou Botijão Residencial Padrão</h5>
                    <p class="card-body ">
                        O botijão de gás de <a class="font-weight-bold">13 quilos</a>, também conhecido como botijão de gás P13, é o gás de cozinha comum amplamente utilizado nos fogões residenciais em todo país. Seu principal uso está no preparo de alimentos e é altamente seguro, contendo dispositivo térmico de segurança chamado de plugue fusível.

                        Dimensões: diâmetro 360 mm x altura 475mm
                    </p>
                    <p class="card-body">Se precisar repor o gás, #ligdja!</p>
                    <p class="card-body"><a class="font-weight-bold">#prevencao #covid19 #higiene #coronavirus #cuiaba</a></p>

                </div>


                <div class="card border rounded" style="width: 18rem;">

                    <img class="rounded mx-5 col-8 mb-3" src="~/imagem/p20-20k.png" width="150" height="150" alt="" />

                    <h5 class="card-title text-center mx-1" style="color:dodgerblue">P20 ou gás para empilhadeiras</h5>
                    <p class="card-body">
                        O gás para empilhadeiras ou gás P20 é comercializado em cilindros de gás de <a class="font-weight-bold">20 quilos</a>. Estes cilindros são projetados para utilização na posição horizontal, já que todo o consumo se dá na fase líquida e não na gasosa, como acontece nos demais recipientes. O cilindro de gás P20 é o único gás permitido pela ANP como combustível para veículos automotores.
                        Dimensões: diâmetro 312 mm x altura 895 mm.
                    </p>
                    <p class="card-body">Garanta já o seu cartão fidelidade!</p>
                    <p class="card-body"><a class="font-weight-bold">#ultragaz #cuiaba #negocioslocais #comida #diamanteazul #fidelidade</a></p>

                </div>

                <div class="card border rounded" style="width: 18rem;">

                    <img class="rounded mx-5 col-8 mb-3" src="~/imagem/p45-45k.png" width="150" height="150" alt="" />

                    <h5 class="card-title text-center mx-1" style="color:dodgerblue">Cilindro de gás P45 ou Botijão de larga escala</h5>
                    <p class="card-body">
                        O cilindro de gás P45 possui <a class="font-weight-bold">45 quilos</a>. Utilizado em larga escala, em diferentes situações e locais, como residências, comércio, bares, restaurantes, é instalado em centrais de GLP – sempre em locais pré-determinados pelo cliente e de acordo com as normas técnicas e devidas documentações estabelecidas.

                        Dimensões: diâmetro 373mm x altura 1292mm
                    </p>
                    <p class="card-body">Garanta já o seu cartão fidelidade!</p>
                    <p class="card-body"><a class="font-weight-bold">#ultragaz #cuiaba #negocioslocais #comida #diamanteazul #fidelidade</a></p>

                </div>

            </div>


        </div>-->

        </div>
    </body>